{# templates/joke/index.html.twig #}

<h1>Получить случайную шутку</h1>

{{ form_start(form) }}
{{ form_row(form.email) }}
{{ form_row(form.category) }}
<button type="submit">Отправить</button>
{{ form_end(form) }}
