<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Получить случайную шутку</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/script.js"></script>
</head>
<body>
    <h1>Получить случайную шутку</h1>

    {{ form_start(form, {'attr': {'id': 'jokeForm'}}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.category) }}
    <button type="submit">Отправить</button>
    {{ form_end(form) }}

    <div id="result" style="display: none;"></div>
</body>
</html>
