{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Получить случайную шутку</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Получить случайную шутку</h1>

    {{ form_start(form, {'attr': {'id': 'jokeForm'}}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.category) }}
    <button type="submit">Отправить</button>
    {{ form_end(form) }}

    <div id="result"></div>

    <script>
        $(document).ready(function() {
            $('#jokeForm').on('submit', function(e) {
                e.preventDefault(); // Предотвращаем стандартное поведение формы

                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#result').html('<p>' + response.message + '</p>');
                    },
                    error: function() {
                        $('#result').html('<p>Произошла ошибка при отправке шутки.</p>');
                    }
                });
            });
        });
    </script>
</body>
</html>
